root = true

# Reglas que se aplican para todos los archivos del proyecto.
[*]
ij_any_wrap_long_lines = true
# Número de caracteres válidos por linea de código
max_line_length = 100
# Carácter por defecto, usado para el fin de linea: '\n'
end_of_line = lf
# Codificación de archivos por defecto: utf-8
charset = utf-8

# Reglas que se aplican para el directorio raíz del proyecto react (app/src).
# Deben sobreescribir cualquier regla aplicada por el editor(VsCode, WebStorm, SublimeText).
#
[src/**.{tsx,ts,json,js}]
# Se deben remover los espacios en blanco al final de una linea de código
trim_trailing_whitespace = true
# Los archivos deben terminar con una linea en blanco
insert_final_newline = true
# Símbolo usado para indentación
indent_style = space
# Número de espacios usados para indentación
indent_size = 2
# Uso de comillas simples por defecto
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_typescript_block_brace_style = end_of_line
ij_typescript_file_name_style = pascal_case
ij_typescript_finally_on_new_line = false
ij_typescript_for_statement_right_paren_on_new_line = false
ij_typescript_force_semicolon_style = true
ij_typescript_import_prefer_absolute_path = false
ij_typescript_import_use_node_resolution = true
ij_typescript_use_path_mapping = always
ij_typescript_keep_simple_blocks_in_one_line = true
ij_typescript_keep_simple_methods_in_one_line = true
ij_typescript_prefer_explicit_types_vars_fields = true
ij_typescript_prefer_explicit_types_function_expression_returns = true
ij_typescript_prefer_explicit_types_function_returns = true