body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Benton Sans";
    font-weight: 100;
    src: local("Benton Sans"),
    url(./fonts/Benton_Sans/BentonSans-Book.otf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Benton Sans";
    font-weight: 300;
    src: local("Benton Sans"),
    url(./fonts/Benton_Sans/BentonSans-Regular.otf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Benton Sans";
    font-weight: 500;
    src: local("Benton Sans"),
    url(./fonts/Benton_Sans/BentonSans-Medium.otf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Benton Sans";
    font-weight: 700;
    src: local("Benton Sans"),
    url(./fonts/Benton_Sans/BentonSans-Bold.otf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Benton Sans";
    font-weight: 900;
    src: local("Benton Sans"),
    url(./fonts/Benton_Sans/BentonSans-Black.otf) format("opentype");
    font-display: swap;
}
